body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.NavBarList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.NavItems {
  display: inline;
  text-align: center;
  padding: 8px 250px;
  background-color: tomato;
}

.Img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}