body {
  background-color: #333;
  font-family: 'Courier New', Courier, monospace;
}

.Nav {
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 20px 20px;
}

.Nav img {
  background-color: #333;
  overflow: hidden;
  width: 50px;
}

.Nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.Nav a:hover {
  background-color: #ddd;
  color: black;
}

.Nav a.active {
  background-color: #04aa6d;
  color: white;
}

.Container {
  padding: 20px;
  color: white;
}

.Main {
  padding: 57px 27px;
  color: white;
  background-image: url(../Images/logo192.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 75%;
}
.Main ul li {
  padding-block: 10px;
}

.Main ul li::marker {
  color: #61dafb;
  font-size: 2rem;
}
